services:
  api:
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.totallyacurateexchange.rule=Host(`totallyacurateexchange.local.crz.li`)"

networks:
  traefik:
    external: true